<section>
  <header>
    <h3>Form</h3>
  </header>
  <form method="post" action="#">
    <div class="row">
      <div class="6u 12u(mobilep)">
        <label for="name">Name</label>
        <input class="text" type="text" name="name" id="name" value="" placeholder="John Doe" />
      </div>
      <div class="6u 12u(mobilep)">
        <label for="email">Email</label>
        <input class="text" type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
      </div>
    </div>
    <div class="row">
      <div class="12u">
        <label for="subject">Subject</label>
        <input class="text" type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
      </div>
    </div>
    <div class="row">
      <div class="12u">
        <label for="subject">Message</label>
        <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="12u">
        <ul class="actions">
          <li><input type="submit" value="Send" /></li>
          <li><input type="reset" value="Reset" class="alt" /></li>
        </ul>
      </div>
    </div>
  </form>
</section>
</div>
