<section>
  <header>
    <h3>Table</h3>
  </header>
  <div class="table-wrapper">
    <table class="default">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>45815</td>
          <td>Something</td>
          <td>Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</td>
          <td>29.99</td>
        </tr>
        <tr>
          <td>24524</td>
          <td>Nothing</td>
          <td>Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</td>
          <td>19.99</td>
        </tr>
        <tr>
          <td>45815</td>
          <td>Something</td>
          <td>Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</td>
          <td>29.99</td>
        </tr>
        <tr>
          <td>24524</td>
          <td>Nothing</td>
          <td>Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</td>
          <td>19.99</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"></td>
          <td>100.00</td>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
