<section>
  <header>
    <h3>Divider</h3>
  </header>
  <p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
  ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
  facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
  tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
  posuere cubilia.</p>
  <hr />
  <p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
  ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
  facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
  tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
  posuere cubilia.</p>
</section>
