  <!DOCTYPE HTML>
  <html>
  	<head>
  		<title>Tiffany Crow Portfolio</title>
  		<meta charset="utf-8" />
  		<meta name="viewport" content="width=device-width, initial-scale=1" />
  		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  		<link rel="stylesheet" href="assets/css/main.css" />
  		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  	</head>
  	<body>

  		<!-- Header -->
  			{% include main_header.html %}

  		<!-- Main -->
  			<div id="main">

  				{% include main_white.html %}
  				{% include feature_left.html %}
  				{% include feature_right.html %}
  				{% include feature_left.html %}

  			</div>

  			<div class="box container">
  				{% include page_header.html %}
  				{% include page_paragraph.html %}
          {% include page_blockquote.html %}
          {% include page_divider.html %}
          {% include page_unorderedlist.html %}
          {% include page_orderedlist.html %}
          {% include page_table.html %}
          {% include page_form.html %}
          {% include page_footer.html %}
  			</div>

  		<!-- Footer -->
  			<div id="footer">
  				<div class="container 75%">
            {% include main_footer.html %}
            {% include main_form.html %}
  					{% include main_icons.html %}
            {% include main_copyright.html %}
  				</div>
  			</div>

  		<!-- Scripts -->
  			<script src="assets/js/jquery.min.js"></script>
  			<script src="assets/js/skel.min.js"></script>
  			<script src="assets/js/util.js"></script>
  			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  			<script src="assets/js/main.js"></script>

  	</body>
  </html>
